<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template.html}">
<head>
    <title>Emprestimo</title>
</head>
<body>
<div layout:fragment="formulario">
    <div layout:replace="~{/emprestimos/atalhos :: atalhos}"></div>

    <form method="post" th:object="${emprestimo}"
          th:action="${emprestimo.id == null} ? @{/emprestimos/cadastrar} : @{/emprestimos}">
        <fieldset class="form-floating border p-4">
            <legend class="w-auto px-3">Cadastro de empréstimo</legend>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date"
                               class="form-control"
                               th:field="*{dataAbertura}">
                        <label th:for="dataAbertura">Data de abertura</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date"
                               class="form-control"
                               th:field="*{dataPrimeiraParcela}">
                        <label th:for="dataPrimeiraParcela">Data da primeira parcela</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-control"
                                th:field="*{banco}">
                            <option th:each="banco : ${listaBancos}"
                                    th:value="${banco.id}"
                                    th:text="${banco.nome}"
                                    th:selected="${emprestimo.banco?.id == banco.id}"></option>
                        </select>
                        <label th:for="banco">Banco</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               th:field="*{contrato}"
                               placeholder="Contrato">
                        <label th:for="contrato">Contrato</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number"
                               class="form-control"
                               th:field="*{quantidadeParcelas}"
                               placeholder="Quantidade de Parcelas">
                        <label th:for="quantidadeParcelas">Quantidade de Parcelas</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" min="1"
                               class="form-control"
                               th:field="*{diaVencimento}"
                               placeholder="Dia do vencimento">
                        <label th:for="diaVencimento">Dia do vencimento</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               th:field="*{valorEmprestimo}"
                               placeholder="Valor do empréstimo">
                        <label th:for="valorEmprestimo">Valor do empréstimo</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" min="0"
                               class="form-control"
                               th:field="*{taxaJuros}"
                               placeholder="Taxa de juros">
                        <label th:for="taxaJuros">Taxa de juros</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" min="0"
                               class="form-control"
                               th:field="*{valorEmprestimoParcela}"
                               placeholder="Valor da parcela">
                        <label th:for="valorEmprestimoParcela">Valor da parcela</label>
                    </div>
                </div>
            </div>

            <input type="hidden" name="_method" value="put" th:if="${emprestimo.id != null}">
            <input type="hidden" name="id" th:value="${emprestimo?.id}">

            <button class="btn btn-outline-primary" type="submit"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Salvar"><i class="bi bi-floppy"></i>
            </button>

        </fieldset>
    </form>

</div>

</body>
</html>