<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template.html}">
<head>
    <title>Contratos</title>
</head>
<body>
<div layout:fragment="formulario">
    <div layout:replace="~{/contratos/atalhos :: atalhos}"></div>

    <form method="post" th:object="${contrato}"
          th:action="${contrato.id == null} ? @{/contratos/cadastrar} : @{/contratos}">
        <input type="hidden" name="_method" value="put" th:if="${contrato.id != null}">
        <input type="hidden" name="id" th:value="${contrato?.id}">

        <fieldset class="form-floating border p-4">
            <legend class="w-auto px-3">Cadastro de Contrato</legend>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date"
                               class="form-control"
                               th:field="*{dataAbertura}">
                        <label th:for="dataAbertura">Data de abertura</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               th:field="*{numero}"
                               placeholder="número">
                        <label th:for="numero">Número do Contrato</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               th:field="*{descricao}"
                               placeholder="descricao">
                        <label th:for="descricao">Descricao</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-control"
                                th:field="*{grupoLancamento}">
                            <option th:each="grupo : ${listaGruposLancamentos}"
                                    th:value="${grupo.id}"
                                    th:text="${grupo.nomeGrupo}"
                                    th:selected="${contrato.grupoLancamento?.id == grupo.id}"></option>
                        </select>
                        <label th:for="grupoLancamento">Grupo de Lançamento</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               th:field="*{valorMensalidade}"
                               placeholder="Valor Mensal">
                        <label th:for="valorMensalidade">Valor Mensal</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-control"
                                th:field="*{situacaoContrato}">
                            <option th:each="situacao : ${T(br.com.ireis.minhasfinancas.modelo.enumeracao.SituacaoContrato).values()}"
                                    th:value="${situacao}"
                                    th:text="${situacao}">
                            </option>
                        </select>
                        <label th:for="situacaoContrato">Situação</label>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button class="btn btn-primary btn-lg "
                            type="submit"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="Salvar">
                        <i class="bi bi-floppy"></i>
                    </button>
                    <a data-mdb-ripple-init
                       th:class="${contrato.id == null}? 'btn btn-primary btn-lg disabled' : 'btn btn-primary btn-lg'"
                       role="button"
                       th:href="@{/contratos/excluirLancamentoPorId(id=${contrato.id})}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </div>
            </div>

        </fieldset>
    </form>

</div>

</body>
</html>