<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template.html}">
<head>
  <title>Cartão de Crédito</title>
</head>
<body>
<div layout:fragment="listagem">
  <div layout:replace="~{/cartoesDeCredito/atalhos :: atalhos}"></div>

  <div class="col-lg-12 mx-auto bg-white  rounded">
    <div class="table-responsive ms-3 me-3 mb-3" style="position: relative; height: 650px">
      <table class="table table-striped  fs-6">
      <thead>
        <tr>
          <th scope="col">BANCO</th>
          <th scope="col">BANDEIRA</th>
          <th scope="col">NÚMERO</th>
          <th scope="col">VALIDADE</th>
          <th scope="col">CÓDIGO DE SEGURANÇA</th>
          <th scope="col">SITUAÇÃO</th>
          <th scope="col" class="col-2">AÇÕES</th>
        </tr>
      </thead>
      <tbody class="table-group-divider table-divider-color">
      <tr th:each="cartaoDeCredito : ${lista}">
        <td th:text="${cartaoDeCredito.banco.nome}"></td>
        <td th:text="${cartaoDeCredito.bandeira}"></td>
        <td th:text="${cartaoDeCredito.numero}"></td>
        <td th:text="|${cartaoDeCredito.mesValidade} / ${cartaoDeCredito.anoValidade}|"></td>
        <td th:text="${cartaoDeCredito.codigoSeguranca}"></td>
        <td th:text="${cartaoDeCredito.situacao}"></td>
        <td>
          <form th:action="@{/cartoesDeCredito}" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" th:value="${cartaoDeCredito.id}">

            <a data-bs-placement="bottom"
               data-bs-title="Editar"
               class="btn btn-link btn-lg px-3"
               data-bs-toggle="tooltip" data-mdb-ripple-init data-ripple-color="primary"
               th:href="@{/cartoesDeCredito/formulario?id={id}(id=${cartaoDeCredito.id})}">
              <i class="bi bi-pencil-fill"></i>
            </a>

            <button
                    type="submit"
                    class="btn btn-link btn-lg px-3"
                    data-bs-placement="bottom"
                    data-bs-title="Excluir" data-mdb-ripple-init data-ripple-color="primary"
                    data-bs-toggle="tooltip">
              <i class="bi bi-trash-fill"></i>
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

</body>
</html>