<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template.html}">
<head>
    <title>Minhas Finanças</title>
</head>
<body>
    <div layout:fragment="campos(habilitado)">
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="number" min="1"
                           class="form-control"
                           id="mes"
                           name="mes"
                           th:value="${planejamento?.mes} ?:'1'"
                           placeholder="Mês">
                    <label th:for="mes">Mês</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="number" min="2023"
                           class="form-control"
                           id="ano"
                           name="ano"
                           th:value="${planejamento?.ano} ?:'2023'" th:disabled="${modoExibicao == 'leitura'}"
                           placeholder="Ano">
                    <label th:for="mes">Ano</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>