<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template.html}">
<head>
    <title>Planejamento</title>
</head>
<body>
<div layout:fragment="formulario">
    <form method="post" th:object="${planejamento}"
          th:action="${planejamento.id == null} ? @{/planejamento/cadastrar} : @{/planejamento}">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Cadastro de Planejamento Mensal</h5>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button class="btn btn-outline-primary" type="submit"
                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="Salvar"><i class="bi bi-floppy"></i></button>
                    <a th:href="@{/planejamento}" class="btn btn-outline-primary" role="button"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-bs-title="Listagem"> <i class="bi bi-list-check"></i></a>

                </div>
                <p class="card-text">


                <div layout:replace="~{/planejamento/campos :: campos}"></div>

                <input type="hidden" name="_method" value="put" th:if="${planejamento.id != null}">
                <input type="hidden" th:field="*{id}">

                <div class="table-responsive fs-6">
                    <small>
                        <table class="table caption-top table-striped table-hover table-bordered">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">GRUPO</th>
                                <th scope="col">TIPO</th>
                                <th scope="col">VALOR PLANEJADO</th>
                                <th scope="col">AÇÕES</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            <tr th:each="grupo,stat : *{grupoLancamentos}">
                                <td th:text="${grupo.nomeGrupo}"></td>
                                <td th:text="${grupo.tipoDeLancamento}"></td>
                                <td>
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{grupoLancamentos[__${stat.index}__].valorPlanejado}"
                                           >
                                    <input type="hidden" th:field="*{grupoLancamentos[__${stat.index}__].id}" >
                                    <input type="hidden" th:field="*{grupoLancamentos[__${stat.index}__].nomeGrupo}" >
                                <td>
                                   ações
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </small>
                </div>

                </p>
            </div>
        </div>

    </form>

</div>
</body>
</html>