<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template.html}">
<head>
    <title>Minhas Finanças</title>
</head>
<body>
    <div class="container text-center" layout:fragment="campos(habilitado)">
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="nomeGrupo"
                           name="nomeGrupo" required="true"
                           th:value="${grupoLancamento?.nomeGrupo}" th:disabled="${habilitado == false}"
                           placeholder="Nome do Grupo">
                    <label th:for="nome">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-control"
                            id="tipoDeLancamento"
                            name="tipoDeLancamento"
                            required="true" th:disabled="${habilitado == false}">

                        <option th:each="tipo : ${T(br.com.ireis.minhasfinancas.modelo.enumeracao.TipoDeLancamento).values()}"
                                th:value="${tipo}" th:selected="${grupoLancamento.TipoDeLancamento} == ${tipo}"
                                th:text="${tipo}"></option>
                    </select>
                    <label th:for="tipoDeLancamento">Tipo De Lançamento</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>