<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Minhas Finanças</title>
</head>
<body>
<div class="col-sm-9 p-3" layout:fragment="formulario">
    <h2>Cadastro de Lançamento</h2>
    <form method="post" th:object="${lancamento}"
          th:action="${lancamento.id == null} ? @{/lancamentos/cadastrar} : @{/lancamentos/visualizacao}">
        <div class="container text-center" layout:fragment="dados(modoExibicao)">
            <div class="row">
                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="date"
                               class="form-control"
                               id="dataDoLancamento"
                               name="dataDoLancamento"
                               th:value="${lancamento?.dataDoLancamento}" th:disabled="${modoExibicao == 'leitura'}"
                               placeholder="Data Do Lançamento"
                               required="true">
                        <label th:for="dataDoLancamento">Data Do Lançamento</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating mb-3">
                        <select class="form-control"
                                id="tipoDeLancamento"
                                name="tipoDeLancamento"
                                required="true" th:disabled="${modoExibicao == 'leitura'}">

                            <option th:each="tipo : ${T(br.com.ireis.minhasfinancas.modelo.enumeracao.TipoDeLancamento).values()}"
                                    th:value="${tipo}" th:selected="${lancamento.TipoDeLancamento} == ${tipo}"
                                    th:text="${tipo}"></option>
                        </select>
                        <label th:for="tipoDeLancamento">Tipo De Lançamento</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-control"
                                id="tipoDeDespesa"
                                name="tipoDeDespesa" th:disabled="${modoExibicao == 'leitura'}">
                            <option th:each="tipo : ${T(br.com.ireis.minhasfinancas.modelo.enumeracao.TipoDeDespesa).values()}"
                                    th:value="${tipo}"
                                    th:text="${tipo}"
                                    th:selected="${lancamento.tipoDeDespesa} == ${tipo}"></option>
                        </select>
                        <label th:for="tipoDeDespesa">Tipo De Despesa</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               id="descricaoLancamento"
                               name="descricaoLancamento"
                               th:value="${lancamento?.descricaoLancamento}" th:disabled="${modoExibicao == 'leitura'}"
                               placeholder="Descricao Lancamento">
                        <label th:for="descricaoLancamento">Descrição</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               id="valorLancamento"
                               name="valorLancamento"
                               th:value="${lancamento?.valorLancamento}" th:disabled="${modoExibicao == 'leitura'}"
                               placeholder="Valor Lancamento">
                        <label th:for="valorLancamento">Valor</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" min="1"
                               class="form-control"
                               id="numeroDeParcelas"
                               name="numeroDeParcelas"
                               th:value="${lancamento?.numeroDeParcelas} ?:'1'" th:disabled="${modoExibicao == 'leitura' || lancamento.id != null}"
                               placeholder="Número De Parcelas">
                        <label th:for="numeroDeParcelas">Número De Parcelas</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-control"
                                id="formaDePagamento"
                                name="formaDePagamento" th:disabled="${modoExibicao == 'leitura'}">
                            <option th:each="forma : ${T(br.com.ireis.minhasfinancas.modelo.enumeracao.FormaDePagamento).values()}"
                                    th:value="${forma}"
                                    th:text="${forma}"
                                    th:selected="${lancamento.formaDePagamento} == ${forma}"></option>
                        </select>
                        <label th:for="formaDePagamento">Forma De Pagamento</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-control"
                                id="grupoLancamento"
                                name="grupoLancamento" th:disabled="${modoExibicao == 'leitura'}">
                            <option th:each="grupo : ${T(br.com.ireis.minhasfinancas.modelo.enumeracao.GrupoLancamento).values()}"
                                    th:value="${grupo}"
                                    th:text="${grupo}"
                                    th:selected="${lancamento.grupoLancamento} == ${grupo}"></option>
                        </select>
                        <label th:for="grupoLancamento">Grupo</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-control"
                                id="estadoDoLancamento"
                                name="estadoDoLancamento" th:disabled="${modoExibicao == 'leitura'}">
                            <option th:each="estado : ${T(br.com.ireis.minhasfinancas.modelo.enumeracao.EstadoDoLancamento).values()}"
                                    th:value="${estado}"
                                    th:text="${estado}"
                                    th:selected="${lancamento.estadoDoLancamento} == ${estado}"></option>
                        </select>
                        <label th:for="estadoDoLancamento">Estado Do Lançamento</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="hidden" name="_method" value="put" th:if="${lancamento.id != null}">
            <input type="hidden" name="id" th:value="${lancamento?.id}">
            <input class="btn btn-primary" type="submit" value="Salvar">
            <input class="btn btn-primary" type="submit" value="Pesquisar">

        </div>
    </form>
</div>
</body>
</html>